.button{
    align-items: center;
    background-color: #c0bebe;
    border: none;
    color: #404040;
    padding: 10px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: 2px 2px rgb(117, 116, 116);
    margin: 10px 20px 0 20px;
}