.modal{
    width: 100%;
    height: 239%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    .container{
        background-color: #fff;
        width: 60%;
        height: 43%;
        border-radius: 10px;

        .close{
           background-color: transparent;
           border: none;
           outline: none;
           width: 32px;
           height: 32px;
           right: calc(-100% + 30px);
           top: 10px;
           cursor: pointer;
           display:flex;
           position: relative;
           align-items: center;

            &:before,
            &:after{
                content: '';
                position: absolute;
                width: 2.5px;
                height: 24px;
                background-color: #444;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }

    }
}